In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
df = pd.read_csv(r"C:\Users\sk062\OneDrive\デスクトップ\西新宿 自動運転アンケート2025.2.21~24.csv　108名バージョン\西新宿 自動運転アンケート2025.2.21~24.csv")
df_trans = pd.read_csv(r"C:\Users\sk062\OneDrive\デスクトップ\変換後データ1.csv")
df_trans.iloc[:, 9] = df_trans.iloc[:, 9].replace('④月に１～３回', 4)
df_testand = pd.read_csv(r"C:\Users\sk062\OneDrive\デスクトップ\only試乗.csv")
df_testand.iloc[:, 9] = df_testand.iloc[:, 9].replace('④月に１～３回', 4)
df_not_tested = pd.read_csv(r"C:\Users\sk062\OneDrive\デスクトップ\not試乗.csv")
df_not_tested.iloc[:, 9] = df_not_tested.iloc[:, 9].replace('④月に１～３回', 4)

In [47]:
print(len(df_testand))
print(df_testand.iloc[:, 4])
print(df_testand.iloc[:, 6])

81
0           神奈川県
1            その他
2     東京都（23区以外）
3     23区（新宿区以外）
4     23区（新宿区以外）
         ...
76          神奈川県
77    23区（新宿区以外）
78    東京都（23区以外）
79           その他
80    23区（新宿区以外）
Name: Q1-3_region, Length: 81, dtype: object
0     4.0
1     4.0
2     1.0
3     2.0
4     3.0
     ...
76    1.0
77    2.0
78    1.0
79    2.0
80    3.0
Name: Q2-1_reuse_intent, Length: 81, dtype: float64

In [48]:
df_testand.groupby([df_testand.iloc[:, 4], df_testand.iloc[:, 6]]).size()

Q1-3_region  Q2-1_reuse_intent
23区（新宿区以外）   1.0                  13
             2.0                  11
             3.0                   5
その他          1.0                   5
             2.0                   9
             3.0                   2
             4.0                   1
新宿区          1.0                   1
             3.0                   2
東京都（23区以外）   1.0                   9
             2.0                   8
             3.0                   3
神奈川県         1.0                   3
             2.0                   5
             3.0                   3
             4.0                   1
dtype: int64

In [49]:
pd.crosstab(df_testand.iloc[:, 4] , df_testand.iloc[:, 6] )

Q2-1_reuse_intent  1.0  2.0  3.0  4.0
Q1-3_region
23区（新宿区以外）          13   11    5    0
その他                  5    9    2    1
新宿区                  1    0    2    0
東京都（23区以外）           9    8    3    0
神奈川県                 3    5    3    1

In [50]:
print(df_testand.iloc[:, 4].eq("23区（新宿区以外）").sum())
print(df_testand.iloc[:, 4].eq("その他").sum())
print(df_testand.iloc[:, 4].eq("新宿区").sum())
print(df_testand.iloc[:, 4].eq("東京都（23区以外）").sum())
print(df_testand.iloc[:, 4].eq("神奈川県").sum())

29
17
3
20
12

In [55]:
pd.crosstab(index=[df_testand.iloc[:, 4], df_testand.iloc[:, 6]], columns=df_testand.iloc[:, 9])

Q2-3_usage_frequency           4  0  1  2  3  5
Q1-3_region Q2-1_reuse_intent
23区（新宿区以外）  1.0                2  1  0  1  3  6
            2.0                1  0  0  0  1  9
            3.0                2  3  0  0  0  0
その他         1.0                1  0  0  0  0  4
            2.0                4  0  0  0  0  5
            3.0                0  2  0  0  0  0
            4.0                0  1  0  0  0  0
新宿区         1.0                1  0  0  0  0  0
            3.0                0  1  0  0  0  1
東京都（23区以外）  1.0                3  0  2  1  0  3
            2.0                5  0  0  0  0  3
            3.0                0  2  0  0  0  1
神奈川県        1.0                2  0  0  0  1  0
            2.0                0  0  0  0  0  5
            3.0                0  1  0  0  0  2
            4.0                0  1  0  0  0  0

In [56]:
pd.crosstab(index=[df_not_tested.iloc[:, 4], df_not_tested.iloc[:, 6]], columns=df_not_tested.iloc[:, 9])

Q2-3_usage_frequency            0
Q1-3_region Q2-1_reuse_intent
23区（新宿区以外）  0.0                 8
その他         0.0                 3
新宿区         0.0                 1
東京都（23区以外）  0.0                 5
神奈川県        0.0                10

In [58]:
df_testand.iloc[:, 9].unique()

array(['0', '1', '5', 4, '3', '2'], dtype=object)